.banner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

.banner-container img {
    width: 100%;
    max-width: 1350px;
    object-fit: fill;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.service-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-container .title {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-1);
}

.title-container .subinfo {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-3);
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.price-container span {
    font-size: 14px;
}

.price-container .price {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-1);
}

.description p{
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 22px;
}

.description h3 {
    margin: 20px 0px;
}

.description ul {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 22px;
    padding-left: 20px;
}

.description ul li {
    margin: 10px 10px;
    list-style-type: disc;
    color: #6f6f6f;
}

.description ul li::marker {
    color: var(--color-3);
    font-weight: 600;
    font-size: 20px;
}

.service-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
}

.service-footer button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background-color: var(--color-4);
    color: var(--color-3);
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-family-1);
    cursor: pointer;
    flex: auto;
    width: 45%;
    max-width: 300px;
    height: 50px;
}

.service-footer .btn-booknow {
    background-color: var(--color-1);
    color: var(--color-2);
}

.service-footer .btn-sendasgift {
    background-color: #efefef;
    border: 1px solid var(--color-1);
    color: var(--color-1);
}

.service-footer .btn-sendasgift:hover {
    background-color: var(--color-1);
    color: var(--color-2);
}

.service-btns {
    display: none;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.service-btns button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background-color: var(--color-4);
    color: var(--color-3);
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-family-1);
    cursor: pointer;
    flex: auto;
    width: 45%;
    max-width: 200px;
    height: 40px;
}

.service-btns .btn-booknow {
    background-color: var(--color-1);
    color: var(--color-2);
}

.service-btns .btn-sendasgift {
    background-color: #efefef;
    border: 1px solid var(--color-1);
    color: var(--color-1);
}

.service-btns .btn-sendasgift:hover {
    background-color: var(--color-1);
    color: var(--color-2);
}




@media screen and (min-width: 1024px) {

    .body {
        display: flex;
        flex-direction: row;
        gap: 20px;
        max-width: 1350px;
        align-self: center;
        padding: 30px 0;
    }

    .banner-container {
        max-width: 700px;
        align-items: start;
    }

    .service-footer {
        display: none;
    }

    .service-btns {
        display: flex;
    }
}
